<header>
    <link rel="stylesheet" href="../public/css/style.css">
</header>

<div class='bg'>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>WeeMoo</h3>
                <strong>WM</strong>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/main">
                        <i class="glyphicon glyphicon-home"></i>
                        <span>home</span>
                    </a>
                    <a href="#">
                        <i class="fas fa-book-open"></i>
                        <span>About</span>
                    </a>

                    <a href="/record">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        My Record
                    </a>

                    <a href="/logout">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Logout
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        My Info
                    </a>
                </li>
            </ul>
        </nav>


        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-default" style="font-size: larger;">
                <i class="glyphicon glyphicon-align-left"></i>
            </button>
        </div>

        <!-- Page Content Holder -->
        <div class="container-fluid">
            <div id="content">
                <div class="textBox">
                    <h3 style="color:#fafafa; text-align:center">My Record</h3>
                    <div id="recordCard">
                        {{#each allRecord as |a|}}
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="recordCollapseBtn" data-toggle="collapse" data-target={{a.id}} aria-expanded="false" aria-controls="collapseTwo">
                                        {{a.subject}}           
                                    </button>
                                    <label id="recordDate" style="color:#fafafa; text-align:center"> {{a.date}} </label>
                                    <button type = "submit" class="deleteBtn" data-target={{a.id}}>
                                        Delete          
                                    </button>
                                </h5>
                                </div>
                                <div id={{a.subject}} class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body" id = 'collapseContent'>
                                            {{{a.context}}}
                                        </div>
                                    <hr>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <a id="addBtn" class = "glyphicon glyphicon-plus-sign" href="/main"></a>
            </div>
        </div>
        
        
    </div>
</div>